<section class="ui modal" id="addClass"> <i class="close icon"></i>
  <header class="header">Add Class</header>
  <div class="content">
    <form class="ui segment form" action="/trainerDashboard/addclass" method="POST">
      <div class="three fields">
        <div class="field">
          <label>Class Name</label>
          <input placeholder="Class Name" type="text" name="name">
        </div>
        <div class="field">
          <label>Difficulty</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="difficulty">
            <i class="dropdown icon"></i>
            <div class="default text">Difficulty</div>
            <div class="menu">
              <div class="item" data-value="Beginner">Beginner</div>
              <div class="item" data-value="Intermediate">Intermediate</div>
              <div class="item" data-value="Advanced">Advanced</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Duration</label>
          <input placeholder="Duration (mins)" type="text" name="duration">
        </div>
      </div>
      <div class="field">
        <label>Description</label>
        <textarea placeholder="Description" name="description" rows="2"></textarea>
      </div>
      <div class="field">
        <label>Image Url</label>
        <input placeholder="Image Url" type="text" name="image">
      </div>
      <button class="ui blue submit button"> Add Class </button>
    </form>
  </div>
</section>