<section class="ui modal" id="addExercise"> <i class="close icon"></i>
  <header class="header">Add Exercise</header>
  <div class="content">
    <form class="ui segment form" action="/fitness/{{routine.id}}/addExercise" method="POST">
      <section class="two fields">
        <section class="field">
          <label>Name</label>
          <div class="ui input left icon">
            <i class="table icon"></i>
            <input placeholder="Name" type="text" name="name">
          </div>
        </section>
        <section class="field">
          <label>Reps</label>
          <div class="ui input left icon">
            <i class="hashtag icon"></i>
            <input placeholder="Reps" type="text" name="reps">
          </div>
        </section>
      </section>
      <section class="two fields">
        <section class="field">
          <label>Sets</label>
          <div class="ui input left icon">
            <i class="hashtag icon"></i>
            <input placeholder="Sets" type="text" name="sets">
          </div>
        </section>
        <section class="field">
          <label>Rest</label>
          <div class="ui input left icon">
            <i class="hourglass half icon"></i>
            <input placeholder="Rest" type="text" name="rest">
          </div>
        </section>
      </section>

      <button class="ui blue submit button"><i class="plus icon"></i> Add Exercise </button>
    </form>
  </div>
</section>
