<div class="ui container">
  <div class="ui centered four doubling stackable cards">
    <a class="ui link card" href="/classes">
      <div class="center aligned image">
        <img src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1500052859/Node%20Gym/classes.png">
      </div>
      <div class="content">
        <p class="center aligned header">Schedule Class</p>
      </div>
    </a>
    <a class="ui link card" href="/assessments">
      <div class="center aligned image">
        <img src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1500053163/Node%20Gym/bookings.png">
      </div>
      <div class="content">
        <p class="center aligned header">Assessment Bookings</p>
      </div>
    </a>
    <a class="ui link card" href="/goals">
      <div class="center aligned image">
        <img src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1500053812/Node%20Gym/goals.png">
      </div>
      <div class="content">
        <p class="center aligned header">Goals</p>
      </div>
    </a>
    <section class="ui link card">
      <div class="center aligned image">
        <img src="http://res.cloudinary.com/dv6skh7wa/image/upload/v1500052866/Node%20Gym/programmes.png">
      </div>
      <div class="content">
        <p class="center aligned header">Fitness Programmes</p>
      </div>
    </section>
  </div>
</div>