<a class="content" href="/classes/{{id}}">
  <div class="header">{{name}}</div>
  <div class="meta">Difficulty: {{difficulty}}</div>
  <div class="description">
    Number of Sessions: {{numSessions}}
  </div>
</a>