<section class="content">
  <div class="header">{{name}}</div>
  <div class="meta">Difficulty: {{difficulty}}</div>
  <div class="description">
    Number of Sessions: {{numSessions}}
  </div>
</section>