<nav class="ui inverted menu">
  <header class="ui header item"> <a href="/trainerDashboard"> Node Gym </a></header>
  <div class="right menu">
    <a id="dashboard" class="item" href="/trainerDashboard"> Dashboard  </a>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

