<form class="ui segment form" action="/classes/{{classes.id}}/addsession" method="POST">
  <div class="three fields">
    <div class="field">
      <label>Location</label>
      <input placeholder="Location" type="text" name="location">
    </div>
    <div class="field">
      <label>Date</label>
      <input placeholder="Date" type="text" name="date">
    </div>
    <div class="field">
      <label>Time</label>
      <input placeholder="Time" type="text" name="time">
    </div>
  </div>
  <button class="ui blue submit button"> Add Session </button>
</form>