{{> menu id="about"}}

<section class="ui two column center aligned middle aligned stackable grid segment">
  <div class="column">
    <i class="ui massive info circle icon"></i>
  </div>
  <div class="column">
    <p>
      This app is a node.js web applet, an evolution of the Play Gym App to include additional features such
      as class scheduling, assessment booking, goals and fitness programmes.
    </p>
    <p>
      The github repository for this project can be found on this <a href="https://github.com/KevFan/gym2-node-summer-project"> here.</a>
    </p>
  </div>
</section>