{{#if isTrainer}}
  {{> trainermenu id="fitness"}}

  <section class="ui center aligned basic segment">
    <a class="ui blue submit button item" data-modal="addProgramme">
      <i class="white plus icon"></i> New Routine
    </a>
  </section>

  <div class="ui container">
    <div class="ui centered four doubling stackable cards">
      {{#each routines}}
        <div class="ui link card">
          {{> listRoutines}}
          <section class="center aligned content">
            <div class="ui teal buttons">
              <div class="ui button"><i class="options icon"></i>Options</div>
              <div class="ui floating dropdown icon button">
                <i class="dropdown icon"></i>
                <div class="menu">

                </div>
              </div>
            </div>
          </section>
        </div>
      {{/each}}
    </div>
  </div>

  {{> addRoutine}}
{{else}}
  {{> menu id="fitness"}}
{{/if}}

Success !