{{> menu id="dashboard"}}
{{#each message}}
  <div {{#if positive}} class="ui positive message" {{else}} class="ui negative message" {{/if}}>
    <i class="close icon"></i>
    <div class="header">
      {{message}}
    </div>
  </div>
{{/each}}

{{> listSessions}}