{{> menu id="dashboard"}}

<section class="ui center aligned two column basic grid segment">
  <form action="/classes/{{classes.id}}/enrolAll" method="POST">
    <button class="ui blue submit button"> Enroll all sessions </button>
  </form>

  <a href="/classes/{{classes.id}}/unEnrolAll">
    <button class="ui red submit button"> Unenroll all sessions </button>
  </a>
</section>

{{> listSessions}}
