{{> trainermenu id="classes"}}

<section class="ui center aligned basic segment">
  <a class="ui blue submit button item" data-modal="addClass">
    <i class="white plus icon"></i> New Class
  </a>
</section>

<div class="ui container">
  <div class="ui centered four doubling stackable cards">
    {{#each classes}}
      <div class="ui link card">
        {{> listClasses}}
        {{> editClassOptions}}
      </div>
    {{/each}}
  </div>
</div>

{{> addClasses}}