{{> trainermenu id="dashboard"}}

<div class="ui container">
  <div class="ui centered four doubling stackable cards">
    {{#each classes}}
      <div class="ui link card">
        {{> listClasses}}
        <section class="center aligned content">
          <div class="ui teal buttons">
            <div class="ui button">Options</div>
            <div class="ui floating dropdown icon button">
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item"><i class="edit icon"></i> Edit Details</div>
                <div class="item"><a href="/trainerDashboard/classes/delete/{{id}}" >
                  <i class="delete icon"></i> Delete Class</a></div>
                <div class="item"><i class="hide icon"></i> Hide Class</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    {{/each}}
  </div>
</div>

{{> trainerAddClasses}}