{{> trainermenu id="classes"}}

<div class="ui container">
  <div class="ui centered four doubling stackable cards">
    {{#each classes}}
      <div class="ui link card">
        {{> listClasses}}
        {{> editClassOptions}}
      </div>
    {{/each}}
  </div>
</div>

{{> addClasses}}