{{> trainermenu id="dashboard"}}

<section class="ui segment">
  <h1 class="ui heaader">
    Welcome {{user.name}}
  </h1>
  <p>
    Trainer Logged in Successfully!
  </p>
</section>

<div class="ui segment container">
  <div class="ui green ribbon label">Bookings</div>
  {{#if bookings}}
    {{> listBooking}}
  {{else}}
    <section class="ui center aligned segment">You have no assessment bookings</section>
  {{/if}}
</div>
